doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Trash
	body
		h1 trash
		a(href="/memo")
			button(type="submit") Home
		div
			each memo in memos
				a(href=`/memo/${memo.id}`)
					p #{memo.title}
					p #{memo.updatedAt}
				form(method="post" action="/memo?delete=1")
					input(type="hidden" name="memoId" value=memo.id)
					button(type="submit") 削除
				form(method="post" action="/memo")
					input(type="hidden" name="memoId" value=memo.id)
					button(type="submit") 復元
				hr
